

body {
  	background: darkgray;  

  	height: 50px;
    width: 500px;
   

    position: fixed;
    top: 12%;
    left: 45%;
    margin-top: -100px;
    margin-left: -200px;
}

.boxed{
	border:1px solid white;

	height: 30px;
}